<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
                th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
		<h1 class="font-weight-bold">SMART CONTACT MANAGER</h1>
		<p>Welcome to our Smart Contact Manager,We are happy to help you,Please Collect your contact from Here</p>
		<button class="btn bg-primary btn-lg text-white">GET START</button>
	</div>
	</section>
</body>
</html>